* { box-sizing: border-box; margin: 0; font-family: Arial; }

body { background:#111; color:white; }

header {
  background:#e50914;
  padding:12px;
  text-align:center;
  font-size:20px;
  font-weight:bold;
}

.grid {
  padding:10px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:10px;
}

.card {
  background:#222;
  border-radius:8px;
  overflow:hidden;
  cursor:pointer;
}

.card img { width:100%; height:200px; object-fit:cover; }

.card p { padding:5px; text-align:center; font-size:14px; }

.hidden { display:none; }

#details { padding:10px; }

#details img {
  width:100%;
  max-width:300px;
  display:block;
  margin:10px auto;
  border-radius:8px;
}

.screen-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
  gap:5px;
  margin:10px 0;
}

.screen-grid img { width:100%; border-radius:5px; }

.download-btn {
  display:block;
  background:#e50914;
  margin:8px 0;
  padding:10px;
  text-align:center;
  border-radius:5px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}
#search{
  width:95%;
  margin:10px auto;
  display:block;
  padding:8px;
  border-radius:5px;
  border:none;
  font-size:16px;
}
.quality{
  font-size:12px;
  color:#aaa;
}
#cats{
  display:flex;
  gap:5px;
  overflow-x:auto;
  padding:8px;
}
#cats button{
  background:#333;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:20px;
  cursor:pointer;
}
#slider{
  position:relative;
  margin:10px;
  border-radius:10px;
  overflow:hidden;
}
#slider img{
  width:100%;
  height:180px;
  object-fit:cover;
}
#slideTitle{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  padding:8px;
  font-weight:bold;
}
